# name identifying the compose project 
COMPOSE_PROJECT_NAME=kitodo-production-docker

# Application Kitodo.Production 
APP_BUILD_CONTEXT=.
# Change context to work with multiple compose projects
# e.g. APP_BUILD_CONTEXT=./projects/${COMPOSE_PROJECT_NAME} 
# Create own env file or overwrite COMPOSE_PROJECT_NAME to start the project
# COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}  docker-compose ...
APP_BUILD_RESOURCES=${APP_BUILD_CONTEXT}/build-resources
APP_DATA=${APP_BUILD_CONTEXT}/kitodo/data
APP_PORT=8080
APP_DEBUG=false
APP_DEBUG_PORT=5005

# Database
DB_IMAGE=mysql:8.0.26
DB_HOST=kitodo-db
DB_PORT=3306
DB_ROOT_PASSWORD=1234
DB_NAME=kitodo
DB_USER=kitodo
DB_USER_PASSWORD=kitodo

# Elastic Search 
ES_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:7.17.3
ES_HOST=kitodo-es
ES_REST_PORT=9200
ES_NODE_PORT=9300

# Active MQ
MQ_IMAGE=markusweigelt/activemq:latest
MQ_HOST=kitodo-mq
MQ_PORT=61616

# Project Builder
BUILDER_TYPE=RELEASE
BUILDER_BUILD_RESOURCES=${APP_BUILD_CONTEXT}/build-resources

BUILDER_RELEASE_VERSION=3.4.3
BUILDER_RELEASE_WAR_NAME=kitodo-3.4.3
BUILDER_RELEASE_SQL_NAME=kitodo_3-4-3
BUILDER_RELEASE_CONFIG_MODULES_NAME=kitodo_3-4-3_config_modules

BUILDER_GIT_COMMIT=master
BUILDER_GIT_SOURCE_URL=https://github.com/kitodo/kitodo-production/
